Description=ulog2queue
Wants=network.target ulogd.service
After=network.target ulogd.service

[Service]
ExecStart=/usr/bin/ulog2queue -conf /etc/ulog2queue.cfg
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
